* {
    padding: 0;
    margin: 0;
  }
  
  body {
    background-color: #fffffe;
  }
  
  h1 {
    color: #045B57;
  }
  
  p {
    color: #3C3D42;
  }
  
  nav {
    background-color: white;
  }
  
  .nav-link {
    font-size: 18px !important;
  }

  .navbar-nav{
    background-color: lightgray;
    justify-content: center;
  }
  
  
 
  
  .custom-btn {
    background-color: #9CCD62;
    color: #fffffe;
  }
  
  .custom-btn2 {
    background-color: #68b2f7;
    color: #fffffe;
  }
  

  .title{
    white-space: nowrap; 
    word-spacing: 1rem; 
    letter-spacing: 0.5rem;
     padding-left: 40px;
  }
  
  .form-group {
    position: relative;
    margin-bottom: 1.5rem;
  }

  .form-group label {
    font-weight: bold;
    margin-bottom: .5rem;
  }



  .form-control {
    border-radius: .25rem;
    border: 1px solid #ccc;
    padding: .5rem 1rem;
  }

  .form-control:focus {
    border-color: #66afe9;
    outline: 0;
    box-shadow: 0 0 8px rgba(102, 175, 233, .6);
  }

  .help-block {
    color: #d9534f;
    margin-top: .25rem;
  }

  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }

  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
  }

  .btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
  }

  .btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
  }

  .mt-5 {
    margin-top: 3rem !important;
  }

 
  
  .help-block {
    color: red;
  }
  
  .with-whitespace {
    white-space: pre-wrap;
  }
 
  .margin--bottom {
    margin-bottom: 2em;
  }
  
  
  
  .custom-table {
    border-collapse: collapse;
    width: 100%;
    margin: 0;
  }
  

  
  .no-padding {
    padding: 0;
  }
  

  .post h4 {
    margin-top: 0;
  }
  
  .cta-button {
    text-align: center;
    background-color: #FF9900;
    color: #FFFFFF;
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  
  .stats-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .stat-box {
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .post-details{
  
    background-color: lightgray;
    width: 500px;
  }


  .card-title{
    font-size: 50px;
  }

  .container{
    padding-top: 110px;
  }


  
#sort-select{
  font-size: 50px;
  font-weight: bold;
  padding-left: 30px;
}